* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body button:active {
  transform: translateY(1px);
}
body header {
  background-color: pink;
  width: 100%;
}
body header .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px 20px 100px;
}
body header .container .form-control {
  padding: 5px 20px;
  font-size: 16px;
}
body header .container .shopping {
  height: 20px;
  font-size: 35px;
  color: blue;
  cursor: pointer;
  position: relative;
}
body header .container .shopping .total-qty {
  position: absolute;
  background-color: white;
  font-size: 12px;
  border-radius: 50%;
  transform: translateX(-50%);
}
body .shopping__overlay.active {
  opacity: 1;
  transform: translateX(0);
}
body .shopping__overlay.active .shopping__container {
  transform: translateX(0%);
}
body .shopping__overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: all 1s;
  z-index: 10;
}
body .shopping__overlay .shopping__container {
  background-color: black;
  float: right;
  width: 60%;
  padding: 20px;
  height: 100vh;
  transform: translateX(100%);
}
body .shopping__overlay .shopping__container .shopping__cart {
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
}
body .shopping__overlay .shopping__container .shopping__cart button.close {
  float: right;
  padding: 5px;
  border: 1px 1px 0 0 solid white;
  transform: translateY(-50%);
  color: white;
  background-color: transparent;
  cursor: pointer;
}
body .shopping__overlay .shopping__container .shopping__cart h4 {
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
}
body .shopping__overlay .shopping__container .shopping__cart .cart-items .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid white;
  padding: 5px 20px;
}
body .shopping__overlay .shopping__container .shopping__cart .cart-items .cart-item button {
  background-color: transparent;
  color: white;
  cursor: pointer;
}
body .shopping__overlay .shopping__container .shopping__cart .cart-items .cart-item button:hover {
  color: red;
}
body .shopping__overlay .shopping__container .shopping__cart .cart-items .cart-item button.remove {
  border: none;
}
body .shopping__overlay .shopping__container .shopping__cart .cart-items .cart-item .cart-img {
  text-align: left;
  width: 15%;
}
body .shopping__overlay .shopping__container .shopping__cart .cart-items .cart-item .cart-img img {
  width: 60px;
}
body .shopping__overlay .shopping__container .shopping__cart .cart-items .cart-item .name {
  width: 25%;
  text-align: left;
}
body .shopping__overlay .shopping__container .shopping__cart .cart-items .cart-item .qty-change {
  display: flex;
}
body .shopping__overlay .shopping__container .shopping__cart .cart-items .cart-item .qty-change p {
  padding: 0 10px;
}
body .shopping__overlay .shopping__container .shopping__cart .final {
  position: absolute;
  right: 20px;
  bottom: 50px;
  text-align: right;
  font-size: 20px;
}
body .shopping__overlay .shopping__container .shopping__cart .final .action {
  margin-top: 10px;
}
body .shopping__overlay .shopping__container .shopping__cart .final .action button {
  padding: 15px 20px;
  color: white;
  font-size: 20px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px outset rgb(118, 118, 118);
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  cursor: pointer;
}
body .shopping__overlay .shopping__container .shopping__cart .final .action button + button {
  margin-left: 20px;
}
body .shopping__overlay .invoice {
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  width: 90%;
  height: 80%;
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
  position: relative;
  display: none;
}
body .shopping__overlay .invoice .shipping-items {
  width: 100%;
}
body .shopping__overlay .invoice .shipping-items .shipping-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0 10px 0px;
}
body .shopping__overlay .invoice .shipping-items .shipping-item + .shipping-item span.item-price::before {
  content: "+";
}
body .shopping__overlay .invoice .payment {
  margin-top: 10px;
  width: 100%;
}
body .shopping__overlay .invoice .payment .total-pay {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
body .shopping__overlay .invoice .order {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
}
body .shopping__overlay .invoice .order button {
  font-size: 16px;
  color: white;
  padding: 15px 20px;
  border: 1px solid white;
  border-radius: 8px;
  border-top: none;
  border-right: none;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
body .shopping__overlay .invoice .order button:hover {
  color: black;
  background-color: #fff;
}
body .shopping__overlay .invoice .order .btn-order {
  background-color: green;
}
body .shopping__overlay .invoice .order .btn-cancel {
  background-color: red;
}
body .shopping__overlay .noticed {
  display: none;
  width: 25%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
  padding: 20px;
}
body .shopping__overlay .noticed p {
  padding: 10px 0;
}
body .shopping__overlay .noticed button {
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
}
body .shopping__overlay .noticed button:hover {
  background-color: gray;
}
body .product {
  background-image: linear-gradient(to bottom, pink, purple, rgb(59, 0, 59));
  width: 100vw;
  padding: 20px 100px 100px 100px;
}
body .product .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
body .product .container .product__item {
  background-color: #fff;
  padding: 15px;
  position: relative;
  border-radius: 8px;
  transition: all 0.5s;
}
body .product .container .product__item:hover {
  transform: translateY(-1%);
  box-shadow: 2px 2px 10px #585858;
}
body .product .container .product__item:hover .btn-add {
  display: block !important;
}
body .product .container .product__item .product__item-top .item-img {
  display: block;
  overflow: hidden;
}
body .product .container .product__item .product__item-top .item-img .img-top {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  color: red;
  font-weight: 600;
}
body .product .container .product__item .product__item-top .item-img .img-top i {
  font-size: 25px;
}
body .product .container .product__item .product__item-top .item-img .img-top p {
  font-weight: 400;
}
body .product .container .product__item .product__item-top .item-img img {
  width: 100%;
  padding: 10px 0;
}
body .product .container .product__item .product__item-bottom {
  line-height: 20px;
  padding-bottom: 30px;
}
body .product .container .product__item .product__item-bottom .item-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  color: red;
}
body .product .container .product__item .product__item-bottom span {
  color: blue;
  font-weight: 500;
  font-style: italic;
}
body .product .container .product__item .product__item-bottom .item-desc {
  color: green;
  padding-top: 5px;
  font-style: italic;
  font-weight: 500;
}
body .product .container .product__item .product__item-bottom .btn-add {
  position: absolute;
  display: none;
  color: red;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}
body .product .container .product__item .product__item-bottom .btn-add span {
  color: red;
}
body .product .container .product__item .product__item-bottom .btn-add .qty-change {
  display: flex;
}
body .product .container .product__item .product__item-bottom .btn-add .qty-change button {
  margin: 0 5px;
}/*# sourceMappingURL=index.css.map */