@import "./variable";

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.clear {
    clear: both;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: $font-small;
    button:active {
        transform:translateY(1px);
    }
    header {
        background-color: pink;
        width: 100%;
        .container {
            display: flex;
            justify-content: space-between;
            padding: 20px 100px 20px 100px;
            .form-control {
                padding: 5px 20px;
                font-size: $font-small;
            }
            .shopping {
                height: 20px;
                font-size: 35px;
                color: blue;
                cursor: pointer;
                position: relative;
                .total-qty {
                    position: absolute;
                    background-color: white;
                    font-size: 12px;
                    border-radius: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .shopping__overlay.active {
        opacity: 1;
        transform: translateX(0);
        .shopping__container {
            transform: translateX(00%);
        }
    }
    .shopping__overlay {
        position: fixed;
        opacity: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: all 1s;
        z-index: 10;
        .shopping__container {
            background-color: black;
            float: right;
            width: 60%;
            padding: 20px;
            height: 100vh;
            transform: translateX(100%);
        .shopping__cart {
            button.close {
                float: right;
                padding: 5px;
                border: 1px 1px 0 0 solid white;
                transform: translateY(-50%);
                color: white;
                background-color: transparent;
                cursor: pointer;
                
            }
                width: 100%;
                height: 100%;
                color: white;
                position: relative;
                h4 {
                    font-size: $font-large;
                    text-align: center;
                    padding-bottom: 10px;
                }
                .cart-items {
                    .cart-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-align: left;
                        border-bottom: 1px solid white;
                        padding: 5px 20px;
                        button {
                            background-color: transparent;
                            color: white;
                            cursor: pointer;
                            &:hover {
                                color: red;
                            }
                        }
                        button.remove {
                            border: none;
                        }
                        .cart-img {
                            text-align: left;
                            width: 15%;
                            img {
                                width: 60px;
                            }
                        }
                        .name {
                            width: 25%;
                            text-align: left;
                        }
                        .qty-change {
                            display: flex;
                            p {
                                padding: 0 10px;
                            }
                            
                        }
                        
                    }
                }
                .final {
                    position: absolute;
                    right: 20px;
                    bottom: 50px;
                    text-align: right;
                    font-size: $font-medium;
                    .action {
                        margin-top: 10px;
                        button {
                            padding: 15px 20px;
                            color: white;
                            font-size: $font-medium;
                            background-color: transparent;
                            border-radius: 10px;
                            border: 2px outset rgb(118, 118, 118);
                            appearance: auto;
                            cursor: pointer;
                        }
                        
                        button + button {
                            margin-left: 20px;
                        }
                    }
                }   
            }
        }
        .invoice {
            background-color: rgba(0, 0, 0, 0.95);
            color: white;
            width: 90%;
            height: 80%;
            margin: 5%;
            padding: 5%;
            border-radius: 10px;
            position: relative;
            display: none;
            .shipping-items {
                width: 100%;
                .shipping-item {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 0 10px 0px;
                }
                .shipping-item + .shipping-item {
                    span.item-price{
                        &::before {
                            content: "+";
                        }
                    }
                }
            }
            .payment {
                margin-top: 10px;
                width: 100%;
                .total-pay {
                    margin-top: 5px;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .order {
                position: absolute;
                left: 50%;
                bottom: 5%;
                transform: translate(-50%, -50%);
                button {
                    font-size: $font-small;
                    color: white;
                    padding: 15px 20px;
                    border: 1px solid white;
                    border-radius: 8px;
                    border-top: none;
                    border-right: none;
                    margin-left: 20px;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover {
                        color: black;
                        background-color: #fff;
                    }
                }
                .btn-order {
                    background-color: $primary-color;
                }
                .btn-cancel {
                    background-color: $second-color;
                }
            }
        }
        .noticed {
            display: none;
            width: 25%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.95);
            color: white;
            left: 50%;
            bottom: 50%;
            transform: translate(-50%, 50%);
            text-align: center;
            border-radius: 10px;
            border: 1px solid white;
            padding: 20px;
            p {
                padding: 10px 0;
            }
            button {
                padding: 5px 20px;
                font-size: $font-small;
                border-radius: 5px;
                font-weight: 600;
                &:hover {
                    background-color: gray;
                }
            }
        }

    }
    .product {
        background-image: linear-gradient(to bottom, pink, purple, rgb(59, 0, 59));
        width: 100vw;
        padding: 20px 100px 100px 100px;
        .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        .product__item {
            background-color: #fff;
            padding: 15px;
            position: relative;
            border-radius: 8px;
            transition: all 0.5s;
            &:hover {
                transform: translateY(-1%);
                box-shadow: 2px 2px 10px #585858;
                .btn-add {
                    display: block!important;
                }
            }
            .product__item-top {
                
                .item-img {
                    display: block;
                    overflow: hidden;
                    .img-top {
                        font-size: $font-medium;
                        display: flex;
                        justify-content: space-between;
                        color: $second-color;
                        font-weight: 600;
                        i {
                            font-size: $font-large;
                        }
                        p {
                        font-weight: 400;
                        }
                    }
                    img {
                        width: 100%;
                        padding: 10px 0;
                    }
                }
            }
            .product__item-bottom {
                line-height: 20px;
                padding-bottom: 30px;
                .item-name {
                    font-size: $font-medium;
                    font-weight: 500;
                    line-height: 35px;
                    color: $second-color;
                }
                span {
                    color: $third-color;
                    font-weight: 500;
                    font-style: italic;
                }
                .item-desc {
                    color: $primary-color;
                    padding-top: 5px;
                    font-style: italic;
                    font-weight: 500;
                }
                .btn-add {
                    position: absolute;
                    display: none;
                    color: $second-color;
                    bottom: 15px;
                    right: 15px;
                    cursor: pointer;
                    span {
                        color: $second-color;
                    }
                    .qty-change {
                        display: flex;
                        button {
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
        }
    }
}